@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
}
.header {
    display: grid;
    background-color: #1E4391;
    height: 100px;
    grid-template-columns: 5fr 11fr 4fr 1fr;
    position: fixed;
    top: 0%;
}
.servicelogo {
    align-self: center;
    justify-self: flex-start;
    margin-right: 10px;
}
.headerbuttons {
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
}
.headerbutton {
    background-color: #1E4391;
    color: #F9F3F3;
    font-size: 24px;
    border-style: none;
    transition: background-color 0.3s;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
}
.headerbutton:hover {
    background-color: #1E4381;
}
.search {
    height: 64px;
    width: 240px;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    border-style: none;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.globalSearch {
    position: absolute;
    width: 100%; 
    background-color: #FFFFFF;
    border-radius: 10px; 
    z-index: 999;
    font-family: 'Montserrat' , sans-serif;
    font-size: 14px;
    padding-left: 1em;
}
.globalSearch a{
    text-decoration: none;
    color: #222222;
}
.globalSearch a:hover {
    color: rgba(34, 34, 34, 0.6);
}
.m {
    background-color: #FFFFFF;
    border-radius: 5px;
}
.menu {
    font-family: 'Montserrat' , sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
}
.menu a {
    text-decoration: none;
    color: #222222;
}
.menu a:hover {
    color: rgba(34, 34, 34, 0.6);
}
.hidden {
    display: none;
}
.language {
    margin-right: 20px;
    justify-self: flex-start;
    align-self: center;
}
.language a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #F9F3F3;
}
.language a:hover {
    color: rgb(117, 135, 188)
}
.mid {
    margin-top: 105px;
}
.string {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}
.hidden {
    display: none;
}
.footer {
    display: flex;
    height: 133px;
    background-color: #000000;
    color: #FFFFFF;
    align-content: center;
    justify-content: center;
}
.techsupport {
    justify-self: center;
}