body
{
    background-color: #1E4391;
}
.header {
    display: grid;
    background-color: #1E4391;
    height: 100px;
    grid-template-columns: 2fr 5fr 10fr 4fr 1fr;
    /*position: fixed;*/
    top: 0%;
}
.servicelogo {
    align-self: center;
    justify-self: flex-end;
    margin-right: 10px;
}
.servicename {
    color: #F9F3F3;
    font-size: 35px;
    text-align: flex-start;
    align-self: center;
}
.headerbuttons {
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
}
.headerbutton {
    background-color: #1E4391;
    color: #F9F3F3;
    font-size: 20px;
    border-style: none;
    transition: background-color 0.3s;
    margin-right: 15px;
}
.headerbutton:hover {
    background-color: #1E4381;
}
.m {
    border-radius: 10%;
}
.menu {
    background-color: #E7DFDF;
}
.menu a {
    text-decoration: none;
}
.search {
    height: 40px;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    border-style: none;
    border-radius: 10px;
}
.globalSearch {
    position: absolute;
    width: 100%; 
    background-color: E7DFDF; 
    z-index: 999;
}
.hidden {
    display: none;
}
.language {
    margin-right: 20px;
    justify-self: flex-start;
    align-self: center;
}
.mid {
    height: 500px;
    background-color: #1E4391;
}
.line {
    height: 240px;
}
.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.welcome {
    justify-self: flex-start;
    align-self: flex-end;
    font-size: 56px;
    color: #FFFFFF;
}
.info {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 20px;
    color: #ffffff;
}