body {
    background-color: #F0F5FF;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
}
.hidden {
    display: none;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1.5px solid #365D7F;
    height: 10.2vh;
    width: 100%;
    padding-bottom: 2px;
}
.logopart img {
    width: 15.1vw;
    height: 10vh; 
}

.part1 {
    align-self: center;
    justify-self: end;
}
.logopart {
    align-self: center;
    justify-self: center;
}
.part3 {
    display: flex;
    align-self: center;
    justify-self: start;
}
.headerbutton {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875vw;
    margin-left: 2.6vw;
    color: black;
}
.headerbutton:hover {
    border-bottom: 1.5px solid black;
}
.search {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.83vw;
    height: 4.6vh;
    width: 12vw;
}
.globalSearch {
    position: absolute;
    width: 13vw;
    border-radius: 0.83vw;
    background-color: #ffffff;
}
.globalSearch a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.94vw;
    margin-left: 2px;
    color: #000000;
}
.globalSearch a:hover {
    color: #365D7F;
    border-bottom: 1.5px solid #365D7F;
}
.lang {
    width: 9vw;
    position: absolute;
    border-radius: 0.83vw;
    background-color: #ffffff;
}
.lang a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    margin-left: 2px;
    color: #000000;
}
.lang a:hover {
    color: #365D7F;
    border-bottom: 1.5px solid #365D7F;
} 
#footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 27.8vh;
    width: 100%;
    background-color: #111920;
}
.f2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footertext {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    color: #ffffff; 
    height: 30px;
}
/*v*/
.meet {
    height: 88vh;
    width: 98vw;
}
.buttons {
    padding-top: 5.6vh;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 17vh;
}
.buttonline {
    margin-bottom: 3.5vh;
}
.navbutton {
    border-style: none;
    color: #365D7F;
    background-color: #F0F5FF;
    border: 3.2px solid #365D7F;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.5vh;
    font-size: 1.875vw;
    height: 7vh;
    padding-left: 1vw;
    padding-right: 1vh;
}
.navbutton:hover {
    background-color: #365D7F;
    color: #F0F5FF;
}
.sm {
    padding-left: 19vw;
    padding-right: 19vw;
}
.end {
    float: right;
}
.st {
    margin-right: 4.5vw;
}
#crm {
    position: absolute;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #F0F5FF;
    border: 2px solid #365D7F;
    width: 10vw;
}
#crm a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    color: #365D7F;
}
#crm a:hover {
    color: #111920;
    border-bottom: 1.5px solid #111920;
}
#crm1 {
    position: absolute;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #F0F5FF;
    border: 2px solid #365D7F;
    width: 10vw;
}
#crm1 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    color: #365D7F;
}
#crm1 a:hover {
    color: #111920;
    border-bottom: 1.5px solid #111920;
}
#crm2 {
    position: absolute;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #F0F5FF;
    border: 2px solid #365D7F;
    width: 10vw;
}
#crm2 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    color: #365D7F;
}
#crm2 a:hover {
    color: #111920;
    border-bottom: 1.5px solid #111920;
}
#crm3 {
    position: absolute;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #F0F5FF;
    border: 2px solid #365D7F;
    width: 10vw;
}
#crm3 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    color: #365D7F;
}
#crm3 a:hover {
    color: #111920;
    border-bottom: 1.5px solid #111920;
}
.f1 a{
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.f1 a:hover{
    border-bottom: 1px solid #F0F5FF;
    color: #F0F5FF;
}
.f1 {
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: #FFFFFF;
    gap: 0.5px;
    padding-bottom: 1em;
}
.f1 p {
    justify-self: center;
    align-self: flex-end;
    height: 0.1vh;
}
.f3 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: #FFFFFF;
}
.f3 {
    padding-left: 1em;
}