body {
    background-color: #F0F5FF;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
}
.hidden {
    display: none;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1.5px solid #365D7F;
    height: 10.2vh;
    width: 100%;
    padding-bottom: 2px;
}
.logopart img {
    width: 15.1vw;
    height: 10vh; 
}

.part1 {
    align-self: center;
    justify-self: end;
}
.logopart {
    align-self: center;
    justify-self: center;
}
.part3 {
    display: flex;
    align-self: center;
    justify-self: start;
    align-items: center;
}
.headerbutton {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875vw;
    margin-left: 2.6vw;
    color: black;
}
.headerbutton:hover {
    border-bottom: 1.5px solid black;
}
.search {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.83vw;
    height: 4.6vh;
    width: 12vw;
}
.globalSearch {
    position: absolute;
    width: 13vw;
    border-radius: 0.83vw;
    background-color: #ffffff;
}
.globalSearch a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.94vw;
    margin-left: 2px;
    color: #000000;
}
.globalSearch a:hover {
    color: #365D7F;
    border-bottom: 1.5px solid #365D7F;
}
.lang {
    width: 9vw;
    position: absolute;
    border-radius: 0.83vw;
    background-color: #ffffff;
    z-index: 1000;
}
.lang a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    margin-left: 2px;
    color: #000000;
}
.lang a:hover {
    color: #365D7F;
    border-bottom: 1.5px solid #365D7F;
} 
#footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 27.8vh;
    width: 100%;
    background-color: #111920;
}
.f2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footertext {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    color: #ffffff; 
    height: 30px;
}
/*до сюда эти стили везде*/
.fillbutton {
    opacity: 0;
}
.num {
    height: 3.125vw;
    width: 3.125vw;
}
.mid {
    height: 88.2vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.step {
    display: flex;
    background-color: #ffffff;
    width: 70vw;
    height: 65vh;
    border: 1.5px solid #365D7F;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    position: relative;
}
.step img{
    height: 55.6vh;
    width: 66.7vw;
}
.buttons {
    margin-left: 4.7vw;
    margin-right: 4.7vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3.7vh;
}
.to {
    justify-self: flex-end;
}
.back {
    justify-self: flex-start;
}
.hidden {
    display: none;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2vw;
    height: 2vw;
}
.cat {
    height: 50vh;
    width: 30vw;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.cat2 {
    height: 45vh;
    width: 25vw;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.cat3 {
    height: 46vh;
    width: 28vw;
    position: absolute;
    top: 0%;
    left: -6.5%;
}
.cat4 {
    height: 45vh;
    width: 27vw;
    position: absolute;
    bottom: 10.5%;
    right: 0%;
}
.cat5 {
    height: 45vh;
    width: 25vw;
    position: absolute;
    bottom: 0%;
    right: 10%;
}
.i {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
}
.f1 a{
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.f1 a:hover{
    border-bottom: 1px solid #F0F5FF;
    color: #F0F5FF;
}
.f1 {
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: #FFFFFF;
    gap: 0.5px;
    padding-bottom: 1em;
}
.f1 p {
    justify-self: center;
    align-self: flex-end;
    height: 0.1vh;
}
.f3 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: #FFFFFF;
}
.f3 {
    padding-left: 1em;
}
.chgif {
    display: none;
}
@media (max-width: 1100px) and (orientation: portrait) {
    body {
        position: relative;
        overflow: hidden;
    }
    .chgif {
        display: block;
        position: absolute;
        z-index: 1000;
        height: 30vw;
        width: auto;
        top: 25%;
        left: 30%;
    }
    body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.99);
        z-index: 0;
    }
}