body {
    background-color: #F0F5FF;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
}
.hidden {
    display: none;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1.5px solid #365D7F;
    height: 10.2vh;
    width: 100%;
    padding-bottom: 2px;
}
.logopart img {
    width: 15.1vw;
    height: 10vh; 
}

.part1 {
    align-self: center;
    justify-self: end;
}
.logopart {
    align-self: center;
    justify-self: center;
}
.part3 {
    display: flex;
    align-self: center;
    justify-self: start;
}
.headerbutton {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875vw;
    margin-left: 2.6vw;
    color: black;
}
.headerbutton:hover {
    border-bottom: 1.5px solid black;
}
.search {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.83vw;
    height: 4.6vh;
    width: 12vw;
}
.globalSearch {
    position: absolute;
    width: 13vw;
    border-radius: 0.83vw;
    background-color: #ffffff;
}
.globalSearch a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.94vw;
    margin-left: 2px;
    color: #000000;
}
.globalSearch a:hover {
    color: #365D7F;
    border-bottom: 1.5px solid #365D7F;
}
.lang {
    width: 9vw;
    position: absolute;
    border-radius: 0.83vw;
    background-color: #ffffff;
}
.lang a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    margin-left: 2px;
    color: #000000;
}
.lang a:hover {
    color: #365D7F;
    border-bottom: 1.5px solid #365D7F;
} 
#footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 27.8vh;
    width: 100%;
    background-color: #111920;
}
.f2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footertext {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    color: #ffffff; 
    height: 30px;
}
/*a*/
.mid {
    margin-bottom: 7vh;
    display: grid;
    grid-template-columns: 1fr;
}
.info {
    height: 47.9vh;
    width: 75vw;
    background-color: #FFFFFF;
    border: solid 1.5px #0F2853;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.3vw;
    margin-top: 5vh;
}
.cat {
    width: 25vw;
    height: 44.5vh;
    bottom: 0%;
}
.inftxt{
    padding-top: 2vh;
    padding-bottom: 5vh;
}
.inftxt p {
    font-size: 1.875vw;
    font-family: 'Montserrat', sans-serif;
}
.searchline {
    margin-top: 5vh;
    justify-self: start;
    width: 75vw;
    justify-self: center;
}
.search1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875vw;
    border-radius: 0.83vw;
    height: 6.5vh;
    width: 25vw;
}
.b {
    border-style: none;
    color: #365D7F;
    background-color: #F0F5FF;
    border: 2px solid #365D7F;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1vh;
    font-size: 1.6vw;
    margin-left: 1vw;
}
.b:hover {
    background-color: #365D7F;
    color: #F0F5FF;
}
#fill {
    width: 75vw;
    justify-self: center;
}
.stdinf {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.65vw;
}
#fill ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.56vw;
    margin-bottom: 1.5em;
}